mixin picture(className=null, image, width, height, altText)
  - var path = image.split("@")[0];
  - var format = image.split(".")[1];
  picture
    source(type="image/webp",
        srcset=`${path}@1x.webp 1x, ${path}@2x.webp 2x`)
    img(class=className,
        src=image,
        srcset=`${path}@2x.${format} 2x`,
        width=width,
        height=height,
        alt=altText)

mixin svg(className=null, name, width, height, altText)
  if altText
    svg(class=className
        width=width
        height=height
        role="img"
        aria-label=altText)
      use(xlink:href=`img/sprite.svg#${name}`)
  else
    svg(class=className
        width=width
        height=height
        focusable="false"
        aria-hidden="true")
      use(xlink:href=`img/sprite.svg#${name}`)
