mixin picture(className, image, width, height, altText)
  - var fileName = image.split(".")[0];
  picture
    source(type="image/webp" srcset=`${fileName}.webp`)
    img(class=className
        src=image
        width=width || null
        height=height || null
        alt=altText || "")

mixin svg(className=null, name, width, height, altText)
  if altText
    svg(class=className
        width=width
        height=height
        role="img"
        aria-label=altText)
      use(xlink:href=`img/sprite.svg#${name}`)
  else
    svg(class=className
        width=width
        height=height
        focusable="false"
        aria-hidden="true")
      use(xlink:href=`img/sprite.svg#${name}`)
